/* ---------- HEADER ---------- */

header img {
    width: 110px;
    height: auto;
}

/* ---------- AUTRES ---------- */

button {
    cursor: pointer;
    border: none;
    background-color: white;

}

li {
    padding-right: 10px;
}

main {
    padding-right: 3em;
    padding-left: 3em;
    padding-bottom: 10em;
}

p {
    text-align: justify;
}

/* ---------- FOOTER ---------- */

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 2em;
    margin: 0;
}